.brand-logo img {
  margin: 20px;
  width: 95px;
}

body {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

h2 {
  letter-spacing: 14px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  text-align: center;
  color: hsl(0, 6%, 24%);
}

h2 .light-head {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

p {
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  font-family: "Josefin Sans";
  text-align: center;
  line-height: 24.5px;
}
form {
  margin-left: 80px;
}
form input {
  border: 2px solid hsl(0, 6%, 24%);
  background-color: hsl(0, 100%, 98%);
  border-radius: 25px;
  height: 35px;
  width: 86%;
  margin-left: -25px;
  font-family: "Josefin Sans";
